@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drug Store</h1>
    <p class="lead">Drug Store is an app that allows you to find and buy drugs nearby</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Show your location, find nearby Apothekes choose nearest and cheapest one
        </p>
       @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Get more knowledge</h2>
        <p>Our app lets you to get info about medicaments and choose drugs with the similar ones</p>
    </div>
    <div class="col-md-4">
        <h2>Send feedback</h2>
        <p>You can easily send your feedback about the company or drug using our app</p>
    </div>
</div>
<hr/>
@Html.Partial("_MapPartial")